<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
   
    <title>ToDo</title>
    <script src="https://kit.fontawesome.com/f1e1679b19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/home.css" >
</head>
<body>
  <section class="main-container">
    <h1>TODO APP</h1>
    <div>
        <form action="/create-todo" method="POST">
            
             <p> 
                 <label for="description">DESCRIPTION</label><br>
                 <input type="text" id="desciption" name="description" placeholder="What do you need to do" required>
             </p>
             
                <label for="category">CATEGORY</label><br>
                <select name="category" id="category">
                  <optgroup  label="Choose a category">
                    <option >Work</option>
                    <option >Personal</option>
                    <option >School</option>
                    <option >Cleaning</option>
                    <option>Other</option>
                    
                  </optgroup>
                 
                </select>
                <label for="date">Due Date</label><br>

                <input type="date" id="date" name="dueDate">

             <br><br>



            
            <button type="submit"> <i class="fa-solid fa-plus"></i>Add Tasks</button>
             


        </form>
        <button type="submit" form="delete-todo"><i class="fa-solid fa-trash-can"></i>Delete</button>
    </div>
   
    <div class="card">
         <form action="/delete-todo" method="POST" id="delete-todo">
          <div class="container">
            <% for(let i of Todo){%>
                <input type="checkbox" name="id" value="<%=i.id%>">

                <h4><%=i.description%></h4> 
                <p><%=i.category%></p>
                 
              </div>
              <p> <i class="fa-solid fa-calendar-days"></i><%=i.dueDate %></p>
            <%} 
            %>
          
       
      </div>

         </form>
        

  </section>
    

          
       
</body>
</html>